



.title
{
  width : 10%;
}

.dbut{
  background-color : red;
  border-radius: 10%;
  margin-left: 10px;
}

.tododetails{
  margin-left : 0px;
}

.quantityofitem{
  padding : 15px; 
  margin-left : 50px;
}

.actionofitem{
  margin-right: 50px;
}